html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 parcentage(0.0833333333);
    max-width: parcentage(0.0833333333);
  }

  .col-sm-2 {
    flex: 0 0 parcentage(0.1666666667);
    max-width: parcentage(0.1666666667);
  }

  .col-sm-3 {
    flex: 0 0 parcentage(0.25);
    max-width: parcentage(0.25);
  }

  .col-sm-4 {
    flex: 0 0 parcentage(0.3333333333);
    max-width: parcentage(0.3333333333);
  }

  .col-sm-5 {
    flex: 0 0 parcentage(0.4166666667);
    max-width: parcentage(0.4166666667);
  }

  .col-sm-6 {
    flex: 0 0 parcentage(0.5);
    max-width: parcentage(0.5);
  }

  .col-sm-7 {
    flex: 0 0 parcentage(0.5833333333);
    max-width: parcentage(0.5833333333);
  }

  .col-sm-8 {
    flex: 0 0 parcentage(0.6666666667);
    max-width: parcentage(0.6666666667);
  }

  .col-sm-9 {
    flex: 0 0 parcentage(0.75);
    max-width: parcentage(0.75);
  }

  .col-sm-10 {
    flex: 0 0 parcentage(0.8333333333);
    max-width: parcentage(0.8333333333);
  }

  .col-sm-11 {
    flex: 0 0 parcentage(0.9166666667);
    max-width: parcentage(0.9166666667);
  }

  .col-sm-12 {
    flex: 0 0 parcentage(1);
    max-width: parcentage(1);
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 parcentage(0.0833333333);
    max-width: parcentage(0.0833333333);
  }

  .col-md-2 {
    flex: 0 0 parcentage(0.1666666667);
    max-width: parcentage(0.1666666667);
  }

  .col-md-3 {
    flex: 0 0 parcentage(0.25);
    max-width: parcentage(0.25);
  }

  .col-md-4 {
    flex: 0 0 parcentage(0.3333333333);
    max-width: parcentage(0.3333333333);
  }

  .col-md-5 {
    flex: 0 0 parcentage(0.4166666667);
    max-width: parcentage(0.4166666667);
  }

  .col-md-6 {
    flex: 0 0 parcentage(0.5);
    max-width: parcentage(0.5);
  }

  .col-md-7 {
    flex: 0 0 parcentage(0.5833333333);
    max-width: parcentage(0.5833333333);
  }

  .col-md-8 {
    flex: 0 0 parcentage(0.6666666667);
    max-width: parcentage(0.6666666667);
  }

  .col-md-9 {
    flex: 0 0 parcentage(0.75);
    max-width: parcentage(0.75);
  }

  .col-md-10 {
    flex: 0 0 parcentage(0.8333333333);
    max-width: parcentage(0.8333333333);
  }

  .col-md-11 {
    flex: 0 0 parcentage(0.9166666667);
    max-width: parcentage(0.9166666667);
  }

  .col-md-12 {
    flex: 0 0 parcentage(1);
    max-width: parcentage(1);
  }
}
.col-xs-1 {
  flex: 0 0 parcentage(0.0833333333);
  max-width: parcentage(0.0833333333);
}

.col-xs-2 {
  flex: 0 0 parcentage(0.1666666667);
  max-width: parcentage(0.1666666667);
}

.col-xs-3 {
  flex: 0 0 parcentage(0.25);
  max-width: parcentage(0.25);
}

.col-xs-4 {
  flex: 0 0 parcentage(0.3333333333);
  max-width: parcentage(0.3333333333);
}

.col-xs-5 {
  flex: 0 0 parcentage(0.4166666667);
  max-width: parcentage(0.4166666667);
}

.col-xs-6 {
  flex: 0 0 parcentage(0.5);
  max-width: parcentage(0.5);
}

.col-xs-7 {
  flex: 0 0 parcentage(0.5833333333);
  max-width: parcentage(0.5833333333);
}

.col-xs-8 {
  flex: 0 0 parcentage(0.6666666667);
  max-width: parcentage(0.6666666667);
}

.col-xs-9 {
  flex: 0 0 parcentage(0.75);
  max-width: parcentage(0.75);
}

.col-xs-10 {
  flex: 0 0 parcentage(0.8333333333);
  max-width: parcentage(0.8333333333);
}

.col-xs-11 {
  flex: 0 0 parcentage(0.9166666667);
  max-width: parcentage(0.9166666667);
}

.col-xs-12 {
  flex: 0 0 parcentage(1);
  max-width: parcentage(1);
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.84);
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.center {
  justify-content: center;
  text-align: -webkit-center;
}

header {
  background-color: transparent;
  color: #fdd1d1;
  cursor: pointer;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 3;
  padding: 0 15px;
  top: 20px;
}
header.alter-red {
  top: 0;
  background: #f64242;
}
header .col-xs-12 {
  flex: 1;
}
header .header-menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
header .header-menu .logo a {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
header .header-menu .logo a span {
  font-size: 14px;
  font-weight: normal;
}
header .header-menu .menu-app {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 2.5em;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  left: 10px;
}
header .header-menu .menu-app:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
header .header-menu .menu-app .container {
  flex: 1;
}
header .header-menu .menu-app .container .col-xs-12 {
  flex: 1;
  display: flex;
}
header .header-menu .menu-app .container .col-xs-12 nav {
  display: flex;
}
header .header-menu .menu-app .container .col-xs-12 nav .menu {
  color: #fff;
  width: 280px;
  max-width: 280px;
  transition: all 500ms ease-in-out;
  transform: translateX(150%);
  background-color: #f64242;
  z-index: 2;
  height: 100%;
  overflow-y: auto;
  padding: 52px 35px;
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
}
header .header-menu .menu-app .container .col-xs-12 nav .menu ul {
  list-style: none;
  padding: 0;
}
header .header-menu .menu-app .container .col-xs-12 nav .menu a {
  border-top: solid 1px #fff;
  text-decoration: none;
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 20px 0px;
}
header .header-menu .menu-app .container .col-xs-12 nav .menu li:first-child a {
  border-top: none;
}
header .header-menu .menu-app .container .col-xs-12 nav .navigation .active-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  top: inherit;
  background-color: #1d2126;
  display: block;
  width: 200px;
}
header .header-menu .menu-app .container .col-xs-12 nav .hiden-menu {
  opacity: 0;
  visibility: hidden;
}
header .header-menu .menu-app .container .col-xs-12 nav .transform-menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.66);
}
header .header-menu .menu-app .container .col-xs-12 nav .nav-mobile-menu {
  width: 15px;
  height: 9px;
  position: relative;
  margin-inline-start: auto;
  z-index: 10;
}
header .header-menu .menu-app .container .col-xs-12 nav .nav-mobile-menu span {
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.25s ease-in-out;
}
header .header-menu .menu-app .container .col-xs-12 nav .nav-mobile-menu span:nth-child(2) {
  top: 50%;
}
header .header-menu .menu-app .container .col-xs-12 nav .nav-mobile-menu span:nth-child(3) {
  bottom: 0;
}

.nav-mobile-menu.active-menu span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.nav-mobile-menu.active-menu span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}

.nav-mobile-menu.active-menu span:nth-child(3) {
  transform: scale(0);
}

.block {
  justify-content: center;
  min-height: 100vh;
  border-top: 0;
  overflow: hidden;
  opacity: 0.75;
  display: flex;
  align-items: center;
}

.block-1 {
  width: 100%;
  background: url(images/banner.jpg) no-repeat center;
  background-size: cover;
}
.block-1 h1 {
  font-size: 125px;
  font-family: "Lobster", cursive;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
  text-align: center;
  margin: 0px 20px;
}

.block-2 {
  width: 100%;
  background: url(images/banner2.jpg) no-repeat center;
  background-size: cover;
}
.block-2.alter-block {
  padding: 80px 0px;
}

.block-title-2 {
  width: 960px;
  margin: 0 auto;
}
.block-title-2 .box {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  padding: 64px;
  display: block;
  text-align: -webkit-center;
  line-height: 25px;
  border-radius: 5px;
}
.block-title-2 .box .title {
  margin: 15px 0px;
}
.block-title-2 .box .title h2 {
  color: #fff;
  font-size: 28px;
  margin: 15px;
}
.block-title-2 .box .title span {
  color: #fff;
  font-size: 20px;
  margin: 15px;
}
.block-title-2 .box .left {
  text-align: left;
}
.block-title-2 .box .slider-action .privious, .block-title-2 .box .slider-action .next {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}
.block-title-2 .box .slider-action .privious:hover, .block-title-2 .box .slider-action .next:hover {
  background-color: rgba(144, 144, 144, 0.075);
  border: none;
}
.block-title-2 .box .slider-action .label {
  display: none;
}
.block-title-2 .box .description {
  color: #fff;
  font-size: 15px;
  margin: 25px 15px;
}
.block-title-2 .box .description p {
  margin: 16px 0px;
}
.block-title-2 .box .learn-more button {
  background-color: transparent;
  border: #fff 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  color: #fff;
}
.block-title-2 .box .learn-more button:hover {
  background-color: rgba(144, 144, 144, 0.075);
}
.block-title-2 .box .slider-action {
  display: flex;
  justify-content: space-between;
}

.block-3 {
  width: 100%;
  background: url(images/banner3.jpg) no-repeat center;
  background-size: cover;
}

.block-4 {
  width: 100%;
  background: url(images/banner4.jpg) no-repeat center;
  background-size: cover;
}

.block-5 {
  width: 100%;
  background: url(images/banner5.jpg) no-repeat center;
  background-size: cover;
}

.contact-info h2 {
  margin-bottom: 32px;
  text-align: center;
}
.contact-info form {
  display: inline;
  margin: 0 auto;
}
.contact-info form .first-block {
  display: inline-block;
  width: 47%;
}
.contact-info form .field textarea {
  height: 200px;
  padding: 12px;
}
.contact-info form input, .contact-info form textarea {
  background: rgba(255, 255, 255, 0.075);
  height: 32px;
  border-radius: 4px;
  border: none;
  border: rgba(255, 255, 255, 0.25) solid 1px;
  color: inherit;
  display: block;
  padding: 0 16px;
  width: 90%;
  margin-bottom: 15px;
}
.contact-info form ::placeholder {
  color: #fff;
  opacity: 0.5;
}
.contact-info form label {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
}
.contact-info button {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  border: rgba(255, 255, 255, 0.25) 1px solid;
  border-radius: 4px;
}
.contact-info button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

footer {
  cursor: pointer;
  background: #F64747;
  color: #fff;
  text-align: center;
}
footer .icons {
  text-align: center;
  padding: 20px;
  cursor: pointer;
  list-style: none;
  margin: 20px;
  display: block;
}
footer .icons div {
  display: inline-block;
}
footer .icons .twitter {
  width: 35px;
  height: 35px;
  background: url(images/ball.png) no-repeat center;
  border: none;
}
footer .icons .facebook {
  width: 35px;
  height: 35px;
  background: url(images/face-btn.png) no-repeat center;
  border: none;
}
footer .icons .bird {
  width: 35px;
  height: 35px;
  background: url(images/bird-btn.png) no-repeat center;
  border: none;
}
footer .icons .round {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  height: 64px;
  width: 64px;
  color: #fff;
}
footer .icons .round:hover {
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}
footer .info-template {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
footer .info-template span {
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .block-title h1 {
    font-size: 96px;
  }

  .block-title-2 .box {
    margin: 40px;
  }
}
/*mobile only*/
@media (max-width: 767px) {
  .menu-app {
    max-width: 200px;
  }
  .menu-app .menu {
    padding: 10px 0px;
  }

  .block-1 h1 {
    font-size: 90px;
  }

  .block-title-2 {
    width: 90%;
  }
  .block-title-2 .box {
    box-sizing: border-box;
    padding: 32px;
  }

  .contact-info {
    padding: 48px 0 16px 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  header {
    height: 50px;
    line-height: 50px;
  }

  .block-title-2 {
    width: 100%;
  }
}
.contact-info {
  color: #fff;
  padding: 60px 0 50px 0;
  background: #F64747;
}

/*tablet only*/
@media (max-width: 991px) {
  .menu {
    justify-content: space-between;
  }

  .contact-info form .first-block {
    display: block;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 480px) {
  header {
    background-color: #0E0E0E;
    top: 0;
  }
  header .header-menu .logo a, header .header-menu .menu-hover {
    font-size: 14px;
  }

  header .header-menu .menu-app .container .col-xs-12 nav .menu {
    max-width: 200px;
  }

  .block {
    padding: 15px 0;
  }

  .block-title h1 {
    font-size: 64px;
  }

  .learn-more button {
    width: 100%;
  }

  .contact-info button {
    width: 98%;
  }

  .block-title-2 .box {
    box-sizing: border-box;
    padding: 16px;
  }
}
/*laptop*/

/*# sourceMappingURL=style.css.map */
